body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: #17202A ;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

/* index.html */

#containerIndex 
{
    /* width: 1000px; */
    margin-left: auto;
    margin-right: auto;
}

#blank
{
    padding: 20px;
}

#logo
{
    background-color: #D6EAF8 ;
    color: black;
    text-align: center;
    padding: 10px;
}

#menu
{
    float: left;
    background-color: #6faac4;
    /* width: 200px; */
    min-height: 950px;
    padding: 10px;
}

#menuLogo
{
    text-align: center;
    padding: 10px;
}

.option
{
    min-width: 150px;
    font-size: 18px;
    padding: 10px;
    border-bottom: 2px dotted #444444;
    /* opacity: 0.8; */
}

.option
{
    cursor: pointer;
}

#content
{
    float: left;
    width:750px;
    min-height: 800px;
    /* text-align: center; */
    padding: 20px;
    /* padding-left: 300px; */
}

#footer
{
    clear:both;
    background-color: gray;
    text-align: center;
    padding: 5px;
    color: black;
}

/* viewDatabase.html */

#containerView
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#titleView
{
    text-align: center;
}

#table
{
    align-items: center;
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
}

/* addMesh.html */

#containerAdd
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#titleAdd
{
    text-align: center;
}

#form
{
        padding-left: 400px;
        padding-right: 400px;
}

/*  */

#container3D canvas {
    width: 100vw !important; 
    height: 100vw !important;
    position: absolute;
    top: 0;
    left: 0;
}